html {
  scroll-behavior: smooth;
}
body {
  margin: 2em auto;
  max-width: 530px;
  padding: 2em;
}
header {
  padding: 2em;
  font-family: Arial, Helvetica, sans-serif;
}
main {
  background-color: antiquewhite;
  padding-inline: 2em;
}
a,
a:visited {
  color: black;
  transition: opacity 0.5s ease-in-out;
}
a:hover {
  opacity: 0.5;
}
tei-front,
tei-back,
tei-prologue,
tei-epigraph,
tei-cit,
tei-div,
tei-list {
  display: flex;
  flex-direction: column;
}
tei-epigraph,
tei-cit {
  margin-bottom: 0.5em;
}
tei-signed,
tei-cit {
  align-self: flex-end;
  text-align: right;
  max-width: 42ch;
}
tei-persname,
tei-author {
  background-color: rgba(255, 255, 0, 0.5);
}
tei-rs {
  background-color: rgba(127, 255, 212, 0.5);
}
tei-quote,
tei-emph,
[rend="italic"] {
  font-style: italic;
}
p.break {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 80%;
  border-top: 20px solid white;
  padding-inline: 2.5em;
  padding-top: 2.5em;
  margin-top: 4em;
  margin-right: -2.5em;
  margin-left: -2.5em;
  color: gray;
  text-align: right;
}
tei-titlepage {
  padding-block: 10em;
}
tei-byline {
  display: block;
  text-align: center;
}
tei-closer {
  display: block;
}
tei-closer > tei-salute {
  display: block;
}
tei-closer > tei-signed {
  display: block;
  text-align: right;
}
tei-div[type="dedication"] > tei-lg {
  margin: auto;
  text-align: center;
}
tei-docauthor,
tei-head {
  display: block;
  text-align: center;
}
tei-docauthor > tei-name {
  display: block;
  font-size: 2em;
}
tei-docimprint {
  display: block;
  margin-top: 10em;
  text-align: center;
}
tei-doctitle > tei-titlepart {
  display: block;
  text-align: center;
}
tei-doctitle > tei-titlepart[type="main"] {
  font-size: 3em;
}
tei-doctitle > tei-titlepart[type="subtitle"] {
  font-size: 2em;
}
tei-emph[rend~="bold"] {
  font-weight: bold;
}
tei-figure {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: center;
}
tei-figure > tei-p {
  font-size: 80%;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
tei-hi[rend~="italics"] {
  font-style: italic;
}
tei-l {
  display: block;
}
tei-lg {
  display: block;
  margin-left: 5em;
}
tei-list[type="simple"] {
  list-style-type: none;
}
tei-list[type="simple"] > tei-item {
  display: list-item;
}
tei-p {
  display: block;
  text-align: justify;
  hyphens: auto;
  -webkit-hyphens: auto;
  hyphenate-limit-chars: auto 3 4;
  -webkit-hyphenate-limit-before: 3;
  -webkit-hyphenate-limit-after: 4;
}
tei-tei {
  font-family: Georgia, "Times New Roman", Times, serif;
}
tei-titlepage {
  display: block;
}
tei-sic::after {
  content: " [sic]";
  color: grey;
}
tei-p[rend~="parskip"] {
  margin-top: 1em;
}
[rend~="sans-serif"] {
  font-family: Arial, Helvetica, sans-serif;
}

